@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

body {
    font-family: 'Cairo', sans-serif;
}

.hero {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px 0;
}

.hero .content {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.hero .content form {
    position: relative;
}

.hero .content form button {
    position: absolute;
    right: 5px;
    top: 7px;
    background: transparent;
    border: 0;
}

.form-wrapper {
    padding: 130px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-wrapper form {
    width: 500px;
    text-align: left;
    margin-top: 20px;
}

.form-wrapper form input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
}

form .input-wrapper {
    margin-bottom: 15px;
}

.form-wrapper form button {
    display: block;
    width: 100%;
    padding: 7px;
    border: 0;
    background-color: #178545;
    color: #fff;
    border-radius: 3px;
}