#ul{
    list-style: none;
    display: flex;
    color: blue;
    position: absolute;
    left:300px;
    top: 25px;
    
}
#ul li{
    padding-left: 50px;
}
li{
    position: relative;
    display: block;
    transition: .5s;
}
a{
    position: relative;

}
.tr:before,
.tr:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color:#79dae8;
   
    transition:0.5s;
  

}
.tr:after {
    left: 0;
    bottom: -10px;
}
.tr:before {
    right: 0;
    top: -10px;
}



.tr:hover:before,
.tr:hover:after {
    width: 100%;
}

#divfot1{
    background-image: url(img/Group\ 200.png);
}

.input{
    height: 30px;
    background-color: aliceblue;
    width: 300px;

}


.div1{
    background-image: url(img/Group\ 10.png);
    height: 550px;
   background-position: center;
     margin-left: -8px;
    margin-top: -8px;

  

   
}

header{
    background-image: url(img/Group\ 10.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

*{
    padding: 0;
    margin: 0;
}

.pa{
    color: black;
    font-size: 10px;
    padding-top: 10px;
    display: none;
  
}
.hr{
    margin-top: 5px;
    display: none;
}
.amp:hover{
    color: red;
    max-width:70px;
    height:10px;
}


.ht{
    position: relative;

}

.ht:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: blue;
   
    transition:0.5s;
  

}
.ht:after {
    right: 0;
    bottom: -7px;
}

.ht:hover:after {
  width: 100px;
}
.con{
    background-color: white;
    width: 80%;
    display: grid;
    margin:30px auto;
    
    grid-template-columns: repeat(3,300px) ;
    grid-template-rows:repeat(3,300px) ;
    grid-gap:30px ;
    
}
.di{
    background-color: white;
    padding: 30px auto;
    box-shadow: 5px 10px 18px #888888;
    
}

.ko:hover{
    height:55px;
    color: red;

}

button:hover{
  
    font-size: 10px;
}

#gt:hover{
    background-color: brown;
    color: black;
    max-width:70px;
    height:10px;
}


.up{
    position: fixed;
    bottom: 10px;
    right: -30px;
    background-color: #ff5722;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
  }
.up.show {
    right: 10px;
  }
/* .moa:hover{
  height:10px;
  width:280px;
    border-radius:25px;
} */
.fa-chevron-down.active{
   
  transform: rotate(180deg);
 padding-left: 520px;
 padding-top: 40px;
  color: black;
}

.ull:hover{
    color: red;
   
        text-decoration: underline;
      
}

.ull{
    text-decoration: none;


}