*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 500px;
    height: 550px;
    background-color: white;
    margin-left: 550px;
    margin-top: 100px;
    
    
   
   

}


body{
  background-color: #343479;
}

.form{
    margin-top: 30px;
    padding-left: 70px;
   
}
input{
    width: 350px;
    height: 30px;
}

select{
    width: 350px;
    height: 30px;
}
.sele{
    margin-top: 10px;
}
.inp{
    display: none;
    
}
textarea{
    width: 350px;
    height:60px;
    margin-top: 5px;
}
button{
    width: 350px;
    height: 40px;
    background-image:linear-gradient(to right,blue,rgb(29, 29, 68));
    margin-top: 10px;
    color: white;
    font-size: 20px;
}
 h1{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    margin-top: 40px;
    margin-left: 150px;

}